* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32, 32, 32);
    flex-direction: column;
}

img {
    height: 100%;
}

#first {
    margin-top: 125px;
}

.container {
    position: relative;
    margin-top: 250px;
    max-width: 800px;
    transform: skewY(-20deg);
}

.container .imgBox {
    position: relative;
    width: 100%;
    min-height: 500px;
    transform-origin: bottom ;
    transform: skewX(45deg);
}

.container .imgBox img {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    filter: grayscale(1);
    transition: all .5s ease-in-out;
    
}

.container .imgBox:hover img:nth-child(3) {
    transform: translate(100px, -100px);
}
.container .imgBox:hover img:nth-child(2) {
    transform: translate(50px, -50px);
    opacity: .5;
}
.container .imgBox:hover img:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .1;
}

.container h2 {
    position: relative;
    color: white;
    font-size: 4em;
    font-weight: bold;
}

.container .skew {
    transform-origin: top;
    transform: skewX(45deg);
}

.container .skew p {
    color: white;
    font-size: 1.2em;
}

.container .skew a {
    position: relative;
    padding: 10px 30px;
    display: inline-block;
    background: transparent;
    color: white;
    transform-origin: top ;
    margin-top: 20px;
    border : 2px solid white;
    transform: skewX(-45deg);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px ;
}

.container .skew a:hover {
    background:  white;
    color:  rgb(32, 32, 32);
}



